extends cmlpurelayout

block stylecontent
  style #{styleContent}

block entirebody
  h2 
  div.
    !{html}
  script.
    var testInfo= !{testInfoStr}
  script(src="/scripts/qticlient.js")
  br
  form(method="post")
    textarea(name="answersheet" id="answersheet" cols="60" rows="15" hidden).
    p #[input(type="submit" value="檢驗" onclick="document.getElementById('answersheet').value=JSON.stringify(getAllResponse(),null,2);return true")]

