extends purelayout
block entirebody
  div(class='container-fluid')
    div(class='row')
      div(class='col-sm-3')
        block sidebar
          ul(class='sidebar-nav')
            li 
              a(href='/psetbank') Home
            li 
              hr
            li 
              a(href='/cmlbank/qtis') All Cmls
            li
              a(href='/cmlbank/qti/create') Create new cml
            li
              a(href='/cmlbank/qtitestform') Cml Test Form
            li 
              hr
            li 
              a(href='/psetbank/psets') All Psets
            li 
              hr
            li
              a(href='/psetbank/pset/create') Create new pset
            li 
              hr
            li
              a(href='/psetbank/testform') Pset Test Form

            li 
              hr
            li 
              a(href='/qtibank/qtis') All Qtis
            li 
              hr
            li
              a(href='/qtibank/qti/create') Create new qti
            li 
              hr
            li
              a(href='/qtibank/qtitestform') QTI Test Form
          
              
      div(class='col-sm-9')
        block content