table
  - var i=0
  - var symbols="①②③④⑤⑥⑦⑧⑨⑩"
  each i,ndx in Array(item.spaces)
    span() #{symbols[ndx]}=
      <select >
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="0">0</option>
          <option value="-">–</option>
          <option value="#">±</option>
      </select>
    span(width="10") 