extends layout

block content2
  if psets
    ul
      each pset in psets
        li 
          a(href=pset.url) #{pset.code}
          if pset.mediacount>0
            span (#{pset.mediacount})
            //each item in pset.media
            //  span (#{item.filename})
  else
    li There are no books.
