extends layout

block content
  if head
    p !{head}
  if items && items.length>0
    each item,itemindex in items
      include ./item.pug
  if tail
    p !{tail}
  script().
    /*(function(){
      var imgs=document.getElementsByTagName('img')
      console.log(id)
      for (img in imgs){
        console.log(img.src)
        img.src=""+id+"/"+img.src
      }
    })()*/
