script(src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML')

p(style="text-indent:30px").
  人們行事往往有其原因或目的，例如積極援助國際難民的行為，
  政治人物有可能是迫於民意與輿論壓力不得不然；
  企業家有可能是為了博取好名聲而慷慨解囊、捐助大筆經費；
  教徒有可能是受到宗教信仰的影響因此主動救援。
  一件表面上看來是單純援助難民的行為，背後卻有各式各樣的緣由。
p(style="text-indent:30px").
  請仔細閱讀以下四則事例，一一分析馮諼、朱家、士紳、
  廠商他們行為背後的原因或目的，然後分別加以評論。

p(style="margin-left:30px")  #[strong(style="text-decoration:underline") 注意：請以條列方式分別作答，四則事例每一則皆需分析、評論。]
ol(style="font-family: 標楷體")
  li.
   《戰國策‧齊策》中記載馮諼為孟嘗君收責（債）於薛，使吏召諸民當償者，
    悉來合券。券遍合，起矯命（假稱奉孟嘗君之命）以責（債）賜諸民，因燒其券，
    民稱萬歲。後齊王廢孟嘗君，孟嘗君就國於薛，未至百里，民扶老攜幼，迎君道中。

  li.
    《史記》〈游俠列傳〉與〈季布欒布列傳〉記載漢高祖劉邦滅項羽後，
    懸賞千金捉拿項羽舊屬季布，並下令窩藏者將誅滅三族。魯人朱家為游俠，
    與季布並不熟識，冒死藏匿季布，並透過夏侯嬰（漢代開國功臣，與劉邦交情甚深）說服劉邦赦免季布的罪。但後來季布做了官，朱家反而終身都不與他相見。

  li.
    1912年，搭載三千多人的巨型郵輪鐵達尼號撞上冰山，在沉船的危急時刻，
    儘管救生艇數量有限，士紳仍協助婦孺優先搭乘逃生，並未爭先恐後自顧逃命。

  li.
    某品牌鞋子廠商以「賣一捐一」的方式銷售產品：廠商每賣出一雙鞋，
    就捐一雙給需要的人。\(x^2\)
 