doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    style.
      table, th, td {
        border: 1px solid black;
        padding: 3px;
      }
      table.noline, th.noline, td.noline {
        border: 1px;
        padding: 3px;
      }

    script(type="text/x-mathjax-config").
      MathJax.Ajax.config.path["mhchem"] =  "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.2.0";
      MathJax.Hub.Config({
        extensions: ["[mhchem]/mhchem.js"],
        TeX: {
          Macros: {
            ceec: ['{\\fbox{#1 }}', 1],
            ceece: ['\\underline{\\  {\\fbox{#1 }}\\  }', 1]
          }
        }
      });
    script(async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block entirebody
