each i,ndx in leadings
  span() #{leadings[ndx]}
    <select style='width:60px;height:25px;'>
      each j,mdx in labels
        <option value=labels[mdx]>#{labels[mdx]}</option>
    </select>
  span() \(\hspace{5mm}\)
